* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #010215;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #8345FF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo img {
    width: 80px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex: 1.5;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.container {
    margin-left: 100px;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    padding: 20px;
    margin-top: 200px;
    opacity: 0;
    animation: fadeInUp 1s forwards;
}

.image-container {
    flex: 1; 
    display: flex;
    justify-content: flex-start; 
    margin-left: 10px; 
}

.image-container img {
    max-width: 80%; 
    height: auto;
}

.text-container {
    flex: 1; 
    text-align: left; 
}

.subtitle {
    font-size: 40px; 
    margin-bottom: 1px;
}

.brief-text {
    font-size: 28px; 
    color: #ccc;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none; 
        flex-direction: column; 
        position: absolute; 
        top: 60px; 
        left: 0; 
        background-color: #8345FF; 
        width: 100%; 
        padding: 10px 0; 
        align-items: center; 
    }

    .nav-links.active {
        display: flex; 
    }

    .nav-links li {
        text-align: center; 
        width: 100%; 
    }

    .menu-toggle {
        display: block; 
    }

    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .image-container {
        margin-top: 10px; 
    }

    .image-container img {
        width: 100%; 
        height: auto; 
    }

    .text-container {
        margin-top: -20px; 
        text-align: center; 
    }

    .subtitle {
        font-size: 30px; 
    }

    .brief-text {
        font-size: 20px; 
    }
}
